.brand-bar {
  background-color: #333;
}

.navbar-brand {
  color: white;
  pointer-events: none;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
}

.brand-bar > .container {
  justify-content: center;
}
